
.kid-root {
  border: thin solid green;
  width: 350px;
  padding: 5px;
  margin-bottom: 3px;
}

.kid-root:first-child {
  margin-top: 3px;
}

.kid-root:last-child {
  margin-bottom: 0px;
}

.kid-grade {
  width: 40px;
}

.kid-xout {
  float: right;
  cursor: pointer;
}

.kids-section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.family-section {
  margin-top: 10px;
  margin-bottom: 5px;
}

.footer-text {
  bottom: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
